<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <div class="toolbar-inspection">
    <ion-title>Nadir Figueiredo</ion-title>
    <ion-icon name="log-out-outline" color="tertiary" (click)="logout()"></ion-icon>
  </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div id="container">
    <strong>Bem vindo Gabriel</strong>
    <ion-button color="primary" size="default" class="ion-margin-top btnNewInspection" routerLink="/newInspection">Nova
      inspeção</ion-button>
  </div>
</ion-content>