<div class="constainer">
  <div class="header-component">
    <h1 class="title">
      <mat-icon>account_balance_wallet</mat-icon>Máquinas
    </h1>
    <button mat-raised-button class="button" routerLink="/machine/new"><span class="newSpan">+ </span> Nova
      máquina
    </button>

    <mat-form-field class="form-search" appearance="outline">
      <mat-label>Pesquisar</mat-label>
      <input matInput (keyup)="filter($event.target.value)">
    </mat-form-field>

  </div>
  <div class="div-table mat-elevation-z8">
    <table mat-table matSort [dataSource]="dataSource">
      <ng-container matColumnDef="Código da máquina">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Código da máquina</th>
        <td mat-cell *matCellDef="let element">{{ element.nameMachine }}</td>
      </ng-container>
      <ng-container matColumnDef="Velocidade da máquina">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Velocidade da máquina</th>
        <td mat-cell *matCellDef="let element">{{ element.machineVelocity }}</td>
      </ng-container>
      <ng-container matColumnDef="uid">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element" class="td-actions">
          <button mat-icon-button aria-label="Editar" routerLink="/machine/{{ element.uid }}">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button aria-label="Editar" (click)="delete(element)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columns;"></tr>
      <tr mat-row *matRowDef="let row; columns: columns;"></tr>
    </table>
  </div>
  <mat-paginator [pageSizeOptions]="[10, 20, 50, 100]" showFirstLastButtons></mat-paginator>
</div>